backcall==0.2.0
colorama==0.4.3
cycler==0.10.0
Cython==0.29.20
decorator==4.4.2
graphviz==0.14
ipython==7.15.0
ipython-genutils==0.2.0
jedi==0.17.0
Jinja2==2.11.2
joblib==0.15.1
kiwisolver==1.2.0
loguru==0.5.1
MarkupSafe==1.1.1
matplotlib==3.2.1
networkx==2.4
numexpr==2.7.1
numpy==1.18.5
packaging==20.4
pandas==1.0.4
parso==0.7.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
Pygments==2.6.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pywr==1.7.0
scipy==1.4.1
six==1.15.0
tables==3.6.1
tqdm==4.46.1
traitlets==4.3.3
wcwidth==0.2.4
win32-setctime==1.0.1
xlrd==1.2.0
