.app-body {
    display: flex !important;
}

.sidebar-tabs {
    display: inline-flex;
    width: 100px;
}

.main-content {
    display: inline-flex;
    padding: 15px;
}

.nav-item {
    cursor: pointer;
}

.select-climate {
    min-width: 150px;
}

.select-price-year {
    min-width: 100px;
}

.timeseries-metrics-data {
    display: flex;
    flex-wrap: wrap;
}

.metrics-gauges {
    display: flex;
    flex-direction: column;
}

.metric-gauge {
    display: flex;
    align-items: center;
}