.app-body {
    display: flex !important;
}

.timeseries-collection {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.timeseries-metrics-box {
    margin-left: auto;
    margin-right: auto;
}

.timeseries-metrics-data {
    display: flex;
}

.timeseries-chart {
    width: 600px;
    height: 300px;
}

.flow-duration-chart {
    width: 400px;
    height: 300px;
}

#root .legend .bg {
    stroke: rgba(68, 68, 68, 0.85) !important;
    fill-opacity: 0.85 !important;
}